p{
    font-family: calibri;
    font-size: 30px;
    
}

h1{
    font-family: fantasy; 
    font-size: 60%;
}
span {
    font-family: cursive;
    color: cadetblue;
} 
a {
    font-family: cursive; 
    font-size: 35px;
    color: Black;
    
}
body {
    background-color: Beige;
}
footer{
    color: black;
}
img{
    padding-left:5em;
    
}
iframe{
    padding-left: 19em;
}
