body{
    margin: 0;
    
    
}
Head{
    background-color: black;
    color: aqua;
    
    
}
a{
    font-family: cursive;
    font-size: 25px;
}
body{
    background-color: lightcyan;
    text-align: center;
}
.tableauPlaceholder{
    align-content: space-around;
    padding: inherit;
}
.footer{
    border-top-width: thick;
    border-top-color: white;
}